//
   Created by sidona on 7/22/2015.


span
form.form-inline
   .form-group
      label.sr-only(for='exampleInputEmail3') Email address

      input#exampleInputEmail3.form-control(type='email', placeholder='Email')

   .form-group
      label.sr-only(for='exampleInputPassword3') Password

      input#exampleInputPassword3.form-control(type='password', placeholder='Password')

   .checkbox
      label
         input(type='checkbox')
         |  Remember me

   button.btn.btn-default(type='submit') Sign in

