//
   Created by sidona on 7/26/2015.

span


         form.form-horizontal
         .form-group
                h5 Email
            label.col-sm-2.control-label
         .col-sm-10
            input#inputEmail3.form-control(type='email', placeholder!='<%- model.email %>')
         .form-group
                h5 Author
         label.col-sm-2.control-label
         .col-sm-10
            input#inputPassword3.form-control(type='password', placeholder!='<%- model.comments %>')

            textarea.form-control(rows='3')
                textarea#comments(name='comments')


h5 New Comment
i.glyphicon.glyphicon-arrow-right.glyphicon-edit.editCommentNew
