//
   Created by sidona on 7/27/2015.

.div
   label Title:

      input#title(name='id', type='text')

      label  Content:

      textarea#content(type='text', name='content')

      label  Author:

      input#author(type='text', name='author')


      button.save Save

      button.delete Delete

