//
   Created by sidona on 7/26/2015.

label Title:

   input#title(name='id', type='text')

   label Content:

   input#content(type='text', name='content')

   label Author:

   input#content(type='text', name='author')


   button.save Save

   button.delete Delete


