

span
h4 AddArticle
    i.glyphicon.glyphicon-arrow-right.glyphicon-edit.newarticle

label
.row
    .col-md-12
        .panel.panel-default
            .panel-heading
                h2.panel-title <%- model.title %>
                <%- createdAt() %>
                .panel-body
                Panel <%- model.content %>
                h5 Detail Click
                        i.glyphicon.glyphicon-plus-sign.glyphicon-edit.editContact






